Repository codestates/underTheSea, pull requests merged in 2022-02, with the labels that each got.

#187 [Client] / #12 / Add: Media querie
  client/src/Landing_component/LandingGuide.js
  client/src/Landing_component/LandingManage.js
  client/src/Landing_component/LandingSearch.js
  client/src/Landing_component/Landingpage.js
  client/src/Manage2Component/ManagaDetail.js
  client/src/page/FreshWaterGuide.js
  client/src/page/Search.js
  client/src/page/SearchCurrent.js
Labels: Bare Minimum, Client, Sprint 3

#189 [Client] / #12 / Add: Mypage.js media query
  client/src/modalComponent/PwdChange1.js
  client/src/modalComponent/SignOut.js
  client/src/page/Mypage.js
  client/src/page/MypageComment.js
  client/src/page/MypageContent.js
  client/src/page/MypageManage.js
  client/src/page/MypageMenuBar.js
Labels: Bare Minimum, Client, Sprint 3

#190 [Client] / #12 / Edit: manageDetail mediaQuery
  client/src/Manage2Component/ManagaDetail.js
  client/src/component/ActivationCard.js
  client/src/component/FilterMediaCard.js
  client/src/component/Header.js
  client/src/component/Header2.js
  client/src/component/HowToManageCard.js
  client/src/component/LymphoCard.js
  client/src/component/RecommendCard.js
  client/src/component/SkimmerCard.js
  client/src/component/SuppliesCard.js
  client/src/component/TipCard.js
  client/src/component/WSDCard.js
  client/src/component/WordCard.js
  client/src/page/SeaWaterGuide.js
Labels: Client

#193 [Client] / #12 / Fix: max-width
  client/src/Landing_component/LandingGuide.js
  client/src/Landing_component/LandingManage.js
  client/src/Landing_component/LandingSearch.js
  client/src/Landing_component/Landingpage.js
  client/src/component/Header.js
  client/src/page/Guide.js
Labels: Client

#197 [Server] / #8 / Edit : cors origin
  server/index.js
Labels: bug, Server, Bare Minimum

#200 [Server] / #8 / Edit : start.sh
  scripts/start.sh
  server/controllers/container/addfish.js
  server/controllers/container/feed.js
Labels: bug, Server, Bare Minimum

#203 [Client] / #12 / Landing Page: Edit
  client/package.json
  client/public/index.html
  client/public/모니터.jpeg
  client/public/유저3.png
  client/public/육단계.png
  client/public/일단계.png
  client/public/핸드폰.jpeg
  client/src/App.js
  client/src/Landing_component/LandingGuide.js
  client/src/Landing_component/LandingManage.js
  client/src/Landing_component/LandingManage1.js
  client/src/Landing_component/LandingSearch.js
  client/src/component/Footer.js
  client/src/component/Header.js
  client/src/component/Header2.js
  client/src/page/Guide.js
  client/src/page/Main.js
  client/src/page/ManageInfo.js
  client/src/page/Mypage.js
  client/src/page/NearbyAquarium.js
  client/src/page/Nn.js
Labels: Client, Sprint 3

#211 [Client] / #12 / Landing Page: Media Edit
  client/package.json
  client/src/Landing_component/LandingGuide.js
  client/src/Landing_component/LandingManage.js
  client/src/Landing_component/LandingManage1.js
  client/src/Landing_component/LandingSearch.js
  client/src/component/Footer.js
  client/src/modalComponent/PwdChange1.js
  client/src/modalComponent/SignOut.js
  client/src/page/Guide.js
  client/src/page/Mypage.js
  client/src/page/MypageComment.js
  client/src/page/MypageContent.js
  client/src/page/MypageManage.js
  client/src/page/MypageMenuBar.js
  client/src/page/SearchInfo.js
Labels: Bare Minimum, Client

#212 [Client] / #12 / Fix : guide
  client/src/Tips_component/HoneyTips.js
  client/src/page/Guide.js
  client/src/page/SeaWaterGuide.js
  server/controllers/container/deletefish.js
  server/index.js
Labels: bug, Bare Minimum, Client

#214 [Client] / #12 / Searching : Media Edit
  client/src/page/Search.js
  client/src/page/SearchCurrent.js
  client/src/page/SearchInfo.js
Labels: Bare Minimum, Client
